
<h1 align = "center">{{ problem.name }}</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Problem Statement : </h3>
<p>{{problem.statement}}</p>
<h3>Test Cases : </h3>
<ul>
    {% for testcase in problem.testcases_set.all %}
        <li>Input : {{ testcase.input }}</li>
        <li>Output : {{ testcase.output }}</li>
        <br></br>
    {% endfor %}
</ul>

{%if request.user.is_authenticated%}
<form action = "{% url 'submit' problem.id %}" method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
        <fieldset>
            <h3 align = "center">Submit your code here.. </h3>
            <div>
                <textarea rows = "10"  cols = "200" name = "typedsol" id = 'typedsol' ></textarea>
            </div>
            <div align = "center" mx = "10">
                <input type = "file" id = "solution" name = "solution" >
                <input type = "submit" value = "Submit">
            </div>
        </fieldset>
    </form>
{% endif %}
