
<h1 align = "center">Problems</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{%if request.user.is_authenticated%}
    <li> <a href = "{% url 'users:logout' %} ">Log Out</a></li>
{% else %}
    <li> <a href = "{% url 'users:login' %} ">Log In</a></li>
    <li> <a href = "{% url 'users:register' %} ">Sign Up</a></li>
{% endif %}

{% if problem_list %}
    <ol>
        {% for problem in problem_list %}
            <li><a href = "{% url 'problem_detail' problem.id %}"> {{ problem.name }} </a></li>
        {% endfor %}
    </ol>
{% else %}
    <p>Nothing to show.<p>
{% endif %}
